# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Local tool path configuration (machine-specific, not committed)
cpld/.config.mk

# Mac metadata
.DS_Store

# Generated code
.codegen.stamp
griffin.generated.h
griffin.generated.inc
griffin.generated.ld
griffin.generated.mcs51.h
griffin.generated.vh
griffin.generated.yml
griffin.generated.refs.h
audio.raw
cf.bin
duart-setup-115200.mon
duart-setup-38400.mon
duart-setup-9600.mon
rom_even-read.bin
rom_odd-read.bin
